<section class="view intro hm-white-light" fxLayout="column" fxLayoutAlign="center center" style="background-image: url('https://source.unsplash.com/H5PnIYI_1I0/1200x800')">
  <section class="container" fxLayout="column" fxLayoutGap="10px" fxFlexOffset="100px" fxFill>

    <section fxLayout fxLayout.xs="column" fxLayoutGap="10px">
      <div class="card" fxFlex>
        <div class="card-header deep-orange lighten-1 white-text">Bucket List</div>
        <div class="card-body">
          <h4 class="card-title">Where to?</h4>
          <p class="card-text">Add locations and places you want to visit</p>
          <div class="md-form" fxLayout>
            <input placeholder="Enter Location" mdbActive autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
              #search [(ngModel)]="searchTerm" [formControl]="searchControl">
          </div>
          <button class="btn peach-gradient btn-sm btn-rounded waves-light" mdbRippleRadius (click)="addItem()" [disabled]="!newItem">Add location</button>
        </div>
      </div>

      <div class="card" fxFlex>
        <div class="card-header deep-orange lighten-1 white-text">Locations</div>
        <div class="card-body" fxLayout="column" [@bucketlist]="bucketlist.length">
          <h4 class="card-title">You have {{ bucketlist.length }} places you want to visit</h4>
          <p class="card-text">Plan and set up your itinerary</p>

          <div fxLayout *ngFor="let place of bucketlist; let i = index">
            <a fxFlex class="btn peach-gradient btn-sm waves-light" mdbRippleRadius (click)="setPlan(place.placeId)">{{ place.location }}</a>
            <a class="btn btn-sm btn-outline-warning" mdbRippleRadius (click)="removeItem(i)">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <div class="card" fxFlex *ngIf="place">
      <div class="card-header deep-orange lighten-1 white-text">Photos</div>
      <div class="card-body" fxLayout="column" [@bucketlist]="place.photos.length">
        <h4 class="card-title">There are {{ place.photos.length }} photos for {{ place.location }}</h4>
        <p class="card-text">Plan and set up your itinerary</p>

        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
          <img [src]="photo" *ngFor="let photo of place.photos">
        </div>
      </div>
    </div>

    <div class="card" fxFlex>
      <div class="card-header deep-orange lighten-1 white-text">Map</div>
      <div class="card-body">
        <p class="card-text">Fill your bucket list</p>
        <agm-map fxFlex [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>
    </div>
  </section>

</section>
