<section class="view intro" fxLayout="column" fxLayoutAlign="center center" style="background-image: url('https://source.unsplash.com/H5PnIYI_1I0/1200x800')">
  <section class="container mask rgba-stylish-strong" fxLayout="column" fxLayoutGap="10px" fxFlexOffset="100px" fxFill>

    <div class="card">
      <div class="card-header deep-orange lighten-1 white-text">Categories</div>
      <div class="card-body">
        <h4 class="card-title">Choose your desired categories</h4>
        <p class="card-text">You can only choose one.</p>
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px" [@items]="categories.length">
          <button *ngFor="let cat of categories" class="btn peach-gradient btn-sm waves-light" mdbRippleRadius (click)="getQuestions(cat.id)">{{ cat.name }}</button>
        </div>

        <!-- <div fxHide fxShow.xs class="dropdown" dropdown>
          <button dropdownToggle class="btn btn-dark dropdown-toggle waves-light" type="button" mdbWavesEffect>
            Select one
          </button>

          <div class="dropdown-menu dropdown-dark" *ngFor="let cat of categories">
            <a class="dropdown-item" (click)="getQuestions(cat.id)">{{ cat.name }}</a>
          </div>
        </div> -->
      </div>
    </div>

    <div class="card" fxFlex *ngIf="finished">
      <div class="card-header deep-orange lighten-1 white-text">Score</div>
      <div class="card-body" fxLayout="column" fxLayoutAlign="center center" [@items]="questions">
        <h4 class="card-title">You got {{ score }} out of {{ total }}!</h4>
        <div *ngFor="let question of questions" fxLayout fxLayoutGap="10px">
          <span [innerHTML]="question.question"></span>
          <span [innerHTML]="question.correct_answer"></span>
        </div>
      </div>
    </div>

    <div class="card" fxFlex *ngIf="question && !finished">
      <div class="card-header deep-orange lighten-1 white-text">Category: {{ question.category }}</div>
      <div class="card-body" fxLayout="column" [@items]="question.options">
        <h4 class="card-title" [innerHTML]="question.question"></h4>
        <p class="card-text">{{ question.difficulty | uppercase }} worth {{ question.points }} points. Question {{ questionIndex }} of {{ questions.length
          }}.
        </p>

        <section fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
          <button *ngFor="let opt of question.options" class="btn peach-gradient waves-light" mdbRippleRadius (click)="submit(opt)"
            [innerHTML]="opt"></button>
        </section>
      </div>
    </div>

  </section>
</section>
