<header>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <logo>
      <a class="logo navbar-brand" href="#">
        <strong>Portfolio</strong>
      </a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" routerLink="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius routerLinkActive="active">
          <a class="nav-link" routerLink="/git">GitHub</a>
        </li>
        <li class="nav-item dropdown" dropdown routerLinkActive="active">
          <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
            Showcase
            <span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-dark" role="menu">
            <a class="dropdown-item waves-light" mdbRippleRadius routerLink="/showcase">Overview</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbRippleRadius href="#" routerLink="/showcase/bucketlist">Bucket List</a>
          </div>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius routerLinkActive="active">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" href="https://www.facebook.com/jigzimon" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" href="https://github.com/iamjigz" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" href="https://www.linkedin.com/in/jigzimon/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
