<div class="view intro hm-white-light" style="background-image: url('https://source.unsplash.com/vdWewqfr_V0/800x600')">
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row mt-5 py-5">
        <div class="col-md-12 wow fadeIn mb-3">
          <div class="text-center">
            <h1 fxShow fxHide.xs fxFlex class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">Jigno Alfred
              <a class="indigo-text font-bold">VENEZUELA</a>
            </h1>

            <h1 fxHide fxShow.xs fxFlex class="mb-2 wow fadeInDown" data-wow-delay="0.3s">Jigno Alfred
              <a class="indigo-text font-bold">VENEZUELA</a>
            </h1>

            <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">JavaScript Cultist and Git Committer</h5>
            <a class="btn btn-light-blue btn-lg wow fadeIn waves-light" mdbRippleRadius data-wow-delay="0.4s" routerLink="/showcase">Portfolio</a>
            <a class="btn btn-indigo btn-lg wow fadeIn waves-light" mdbRippleRadius data-wow-delay="0.4s" routerLink="/about">About Me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5">
        <section class="section feature-box">
          <h1 class="font-bold indigo-text my-5">Web Development</h1>
          <p class="section-description lead black-text">Having a blast working on front-end projects recently while keeping up with JavaScript frameworks.</p>
          <div class="row features-big">
            <div class="col-md-4 mb-r">
              <i class="fab fa-angular fa-5x red-text"></i>
              <h5 class="feature-title">Angular</h5>
              <p class="black-text">Angular is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google
                and by a community of individuals and corporations. Angular is a complete rewrite from the same team that
                built AngularJS.</p>
            </div>

            <div class="col-md-4 mb-r">
              <i class="fab fa-js fa-5x yellow-text"></i>
              <h5 class="feature-title">JavaScript/TypeScript</h5>
              <p class="black-text">TypeScript is an open-source programming language developed and maintained by Microsoft. It is a strict syntactical
                superset of JavaScript, and adds optional static typing to the language.</p>
            </div>

            <div class="col-md-4 mb-r">
              <i class="fab fa-css3-alt fa-5x blue-text"></i>
              <h5 class="feature-title">CSS3/SASS</h5>
              <p class="black-text">Sass (Syntactically awesome style sheets) is a preprocessor scripting language that is interpreted or compiled
                into Cascading Style Sheets (CSS).</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<div class="view intro hm-white-light" style="background-image: none; z-index: 0; min-height: 700px;">
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row mt-5 py-5">
        <div class="col-md-12 wow fadeIn mb-3" style="animation-name: none; visibility: visible;">
          <div class="text-center">
            <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">Git
              <a class="white-text font-bold">BLOG</a>
            </h1>
            <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">Projects I'm currently working on</h5>
            <a class="btn btn-elegant btn-lg wow fadeInDown waves-effect waves-light" mdbRippleRadius data-wow-delay="0.4s" routerLink="/git">Check it out</a>
            <a class="btn btn-outline-white btn-lg wow fadeInDown waves-effect waves-light" mdbRippleRadius data-wow-delay="0.4s" routerLink="/showcase">See samples</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="video-parallax">
    <video src="https://storage.googleapis.com/coverr-main/mp4/Keep_Running.mp4" frameborder="0" autoplay="" loop=""></video>
  </div>
</div>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center my-5">
        <section class="section feature-box">
          <h1 class="font-bold indigo-text my-5">Back-end and other stuff</h1>
          <p class="section-description lead black-text">The front-end was already hard enough...</p>
          <div class="row features-big">
            <div class="col-md-4 mb-r">
              <i class="fab fa-node fa-5x green-text"></i>
              <h5 class="feature-title">NodeJS</h5>
              <p class="black-text">Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code server-side.</p>
            </div>

            <div class="col-md-4 mb-r">
              <i class="fab fa-hotjar fa-5x orange-text"></i>
              <h5 class="feature-title">Google Firebase</h5>
              <p class="black-text">Firebase is Google's mobile platform that helps you quickly develop high-quality apps and grow your business.</p>
            </div>

            <div class="col-md-4 mb-r">
              <i class="fab fa-git-square fa-5x red-text"></i>
              <h5 class="feature-title">Git</h5>
              <p class="black-text">Sass (Syntactically awesome style sheets) is a preprocessor scripting language that is interpreted or compiled
                into Cascading Style Sheets (CSS).</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<div class="view intro hm-pink-slight" style="background-image: url(https://source.unsplash.com/2RrAct0Rf8E/800x600); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img">
  </div>
</div>

<div class="view intro hm-purple-slight" style="background-image: url(https://source.unsplash.com/-yePUylDPJQ/800x600); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h1 class="display-1 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">Welcome to my page!</h1>
              <h4 class="mb-3 mt-1 white-text font-bold wow fadeIn" data-wow-delay="0.4s">Unfortunately, it's still a big WIP.</h4>
              <a class="btn btn-pink wow fadeIn waves-light" mdbRippleRadius data-wow-delay="0.4s" routerLink="/showcase">See more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center my-5" fxLayout="column" fxLayoutAlign="center center">
        <h1 class="font-bold pink-text mb-5">Who ever said devs don't have a sense of humor?</h1>
        <h4 class="pink-text" data-wow-delay="0.4s">
          <small>We make fun of ourselves.</small>
        </h4>
        <mdb-carousel [isControls]="true" class="carousel slide" [animation]="'slide'" fxFlex>
          <mdb-slide>
            <img class="d-block w-100" src=" https://imgs.xkcd.com/comics/just_alerting_you.jpg">
          </mdb-slide>
          <mdb-slide>
            <img class="d-block w-100" src="https://imgs.xkcd.com/comics/tasks.png">
          </mdb-slide>
          <mdb-slide>
            <img class="d-block w-100" src="https://imgs.xkcd.com/comics/tags.png">
          </mdb-slide>
          <mdb-slide>
            <img class="d-block w-100" src="https://imgs.xkcd.com/comics/wisdom_of_the_ancients.png">
          </mdb-slide>
          <mdb-slide>
            <img class="d-block w-100" src="https://imgs.xkcd.com/comics/git.png">
          </mdb-slide>
          <mdb-slide>
            <img class="d-block w-100" src="https://imgs.xkcd.com/comics/git_commit.png">
          </mdb-slide>
          <mdb-slide>
            <img class="d-block w-100" src="https://imgs.xkcd.com/comics/good_code.png">
          </mdb-slide>
        </mdb-carousel>
      </div>
    </div>
  </div>
</section>
