<div class="view intro hm-white-light" style="background-image: url('https://source.unsplash.com/H5PnIYI_1I0/1200x800')">
  <div class="full-bg-img">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 1200px">

        <section class="section pb-3">
          <h2 class="section-heading h1 pt-4">
            <strong>Projects</strong>
          </h2>

          <p class="section-description white-text">Some simple stand-alone projects to view and interact with.</p>

          <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div class="col-lg-4 col-md-12 mb-r" *ngFor="let project of projects">
              <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
                <img [src]="project.image" alt="Project image">
                <a>
                  <div class="mask"></div>
                </a>
              </div>

              <div class="card-body mt-1">
                <a href="" class="pink-text">
                  <h5>
                    <i [class]="project.icon"></i> {{ project.category }}</h5>
                </a>
                <h4>{{ project.title }}</h4>
                <p>{{ project.desc }}
                </p>
                <a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius  [routerLink]="project.link">
                  <i class="fa fa-clone left"></i> View project</a>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>
