/* You can add global styles to this file, and also import other style files */
body {
  background-color:#808080;
}

.view {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
