<div class="author-box">
  <div class="row">
    <div class="col-12 col-sm-2">
      <img src="https://avatars0.githubusercontent.com/u/15794810?s=400&u=2d6464f5005475760727094e9d949b1b263b5f5f&v=4" class="img-fluid rounded-circle z-depth-2">
    </div>
    <div class=" col-12 col-sm-10">
      <p>
        <strong>Jigno Alfred V. Venezuela</strong>
      </p>
      <div class="personal-sm">
        <a class="email-ic">
          <i class="fa fa-home"> </i>
        </a>
        <a class="fb-ic">
          <i class="fa fa-facebook"> </i>
        </a>
        <a class="git-ic">
          <i class="fa fa-github"> </i>
        </a>
        <a class="li-ic">
          <i class="fa fa-linkedin"> </i>
        </a>
        <a class="email-ic">
          <i class="fa fa-envelope-o"> </i>
        </a>
      </div>
      <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
      <p class="hidden-md-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint esse nulla quia quam veniam commodi dicta, iusto inventore.
        Voluptatum pariatur eveniet ea, officiis vitae praesentium beatae quas libero, esse facere.
      </p>
    </div>
  </div>
</div>

<footer class="page-footer black center-on-small-only">
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 Copyright:
      <a href="https://github.com/iamjigz">Jigno Alfred V. Venezuela</a>
    </div>
  </div>
</footer>
