<section fxLayout="column" fxFlex>
  <div class="author-box">
    <div class="row">
      <div class="col-12 col-sm-2">
        <img src="https://avatars0.githubusercontent.com/u/15794810?s=400&u=2d6464f5005475760727094e9d949b1b263b5f5f&v=4" class="img-fluid rounded-circle z-depth-2">
      </div>
      <div class=" col-12 col-sm-10">
        <p>
          <strong>Jigno Alfred V. Venezuela</strong>
        </p>
        <div class="personal-sm">
          <a class="email-ic" href="https://iamjigz.github.io/jigz/" target="_blank">
            <i class="fa fa-home"></i>
          </a>
          <a class="fb-ic" href="https://www.facebook.com/jigzimon" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
          <a class="git-ic" href="https://github.com/iamjigz" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a class="li-ic" href="https://www.linkedin.com/in/jigzimon/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a class="li-ic" href="skype:iamjigz?chat">
            <i class="fab fa-skype"></i>
          </a>
          <a class="email-ic" href="mailto:jigzimon@gmail.com">
            <i class="far fa-envelope"></i>
          </a>
        </div>
        <p>Web developer from the Philippines</p>
        <p>Turns caffeine into web applications. Takes
          <strong>#000000</strong> coffee when stressed. Rates are reasonable. However, if you're going to help, rates are doubled.
          Avid gamer but stuck on mobile games since I don't have a lot of time now. Reading novels when not mashing the
          keyboard.
        </p>
      </div>
    </div>
  </div>

  <footer id="footer" class="page-footer black center-on-small-only">
    <div class="footer-copyright">
      <div class="container-fluid">
        © 2018 Copyright:
        <a href="https://github.com/iamjigz">Jigno Alfred V. Venezuela</a>
      </div>
    </div>
  </footer>
</section>
