<section class="view intro hm-white-light" fxLayout="column" fxLayoutAlign="center center" style="background-image: url('https://source.unsplash.com/1RqXSxGfb0M/1200x800')">
  <div fxLayout fxLayoutAlign="center center" fxFlex>
    <div class="col-md-12 wow fadeIn mb-3">
      <div class="d-flex align-items-center content-height">
        <div class="row flex-center pt-5 mt-3">
          <div class="col-md-6 text-center text-md-left mb-5">
            <div class="white-text">
              <h1 class="h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Get in touch</h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <h6 class="wow fadeInLeft" data-wow-delay="0.3s">If you wanna get in touch, talk to me about a project collaboration or just say hi, fill up the form or send
                an email to
                <strong>jigzimon@gmail.com</strong>.
              </h6>
              <br>
              <a class="btn peach-gradient wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbRippleRadius href="#footer">Learn more</a>
            </div>
          </div>

          <div class="col-md-6 col-xl-5 offset-xl-1">
            <div class="card wow fadeInRight" data-wow-delay="0.3s">
              <div class="card-body z-depth-2">
                <div class="text-center">
                  <h3 class="white-text">Contact me:</h3>
                  <hr>
                </div>

                <div fxLayoutAlign="center center" fxLayoutGap="10px">
                  <i class="fas fa-user white-text"></i>
                  <div class="md-form" fxFlex>
                    <input type="text" id="name" class="form-control" mdbActive>
                    <label for="name">Name</label>
                  </div>
                </div>

                <div fxLayoutAlign="center center" fxLayoutGap="10px">
                  <i class="far fa-envelope white-text"></i>
                  <div class="md-form" fxFlex>
                    <input type="text" id="email" class="form-control" mdbActive>
                    <label for="email">Email</label>
                  </div>
                </div>

                <div fxLayoutAlign="center center" fxLayoutGap="10px">
                  <i class="fas fa-phone white-text"></i>
                  <div class="md-form" fxFlex>
                    <input type="text" id="phone" class="form-control" mdbActive>
                    <label for="phone">Phone</label>
                  </div>
                </div>

                <div fxLayoutAlign="center center" fxLayoutGap="10px">
                  <i class="fas fa-pencil-alt white-text"></i>
                  <div class="md-form" fxFlex>
                    <textarea type="text" id="message" class="md-textarea"></textarea>
                    <label for="message">Tell me about your project</label>
                  </div>
                </div>

                <div class="text-center">
                  <button class="btn peach-gradient waves-light" mdbRippleRadius disabled>Send</button>
                  <hr>
                  <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label class="white-text" for="checkbox1">Subscribe me to the newsletter</label>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
